@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Castoro+Titling&family=Roboto:wght@300&display=swap");

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
}
*,
html,
body {
  box-sizing: border-box;
  /* height: 100vh; */
  /* padding: 5px; */
  font-family: "Bubblegum Sans", cursive;
  margin: 0 auto;
  text-align: center;
}
